{% extends 'base.html' %}
{% block container %}
  <main class="container">
    <section class="mt-3 pb-5">
      <h1 class="display-3 mt-4">{{ tour.title }} {% for i in range(tour.stars|int) %}★{% endfor %}</h1>
      <!-- HERO -->
      <p class="lead">{{ tour.country }} {{ departures[tour.departure] }} {{ tour.nights}} ночей</p>
      <img src={{ tour.picture }} class="w-75" alt="">
      <p class="my-4 w-75">{{ tour.description }}</p>
      <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tour.price }}</a>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}